*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.97);
}

h1{
    text-align: center;
    box-shadow: 2px 2px 50px green;
    background-color: rgba(3, 3, 3, 0.871);
    padding: 1rem;
    border-radius: 1rem;
}

#container{
    
    width: 400px;
    height: 500px;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: antiquewhite;
    box-shadow: 2px 2px 50px green;
}

#play-box{
    /* border: 2px solid red; */
    height: 40%;
    display: flex;
    justify-content: center;

    
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    width: 100%;
    gap: 1rem;
    
    
}

#number-input{
    width: 50% ;
    height: 4rem;
    border-radius: 1rem;
    padding: 1.5rem;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.844);
    border: none;
    box-shadow: 2px 2px 10px green;
    

}

#check{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 1rem;
    background-color: green;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px gray;
}

#warning{
    /* border: 2px solid red; */
    width: 90%;
    height: 100px;
    font-size: 2rem;
    text-align: center;
}

#veda{

    width: 500px;
    height: 200px;
    margin-top: 10rem;
    position: fixed;
    z-index: 1001;
    background-color: black;
    box-shadow: 2px 2px 30px green;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 4rem;
    display: none;
}


#question{

    /* border: 2px solid blue; */
    width: 300px;
    height: 200px;
    position: fixed;
    z-index: 1001;
    background-color: black;
    box-shadow: 2px 2px 30px green;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 4rem;
    display: none;



}

#yes-button , #no-button{
    margin: 10px;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border: none;
    box-shadow: 2px 2px 10px green;
}